---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Notes, code snippets, and reminders related to technology and personal development.</h2>

  <p>Welcome to my small corner of the internet.</p>
  <p>You can contact my by clicking on the links below. Please send me your feedback and opinions about my writing or just to say Hello.</p>
</BaseLayout>