---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/writing/*.md');
const pageTitle = "Writings";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Notes, code snippets, and reminders related to technology and personal development.</h2>
  <p>Welcome to my small corner of the internet.</p>
  <p>I love discourse and hearing other's perspectives, my contact info is below.</p>
  <ul>
    {allPosts
    .sort((a, b) => new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate))
    .map((post) => {
      return (
        <BlogPost
          pubdate={post.frontmatter.pubDate.slice(0,10)}
          url={post.url}
          title={post.frontmatter.title} 
        />
        );
        })}
  </ul>
</BaseLayout>